<!DOCTYPE html>
<html>
<head>
	<title>Google Map</title>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script src="http://localhost:63342/myapp//public/javascripts/map.js" ></script>
</head>
<body>
<center>
<table>
<tr>
	<td height="50px" colspan=2 align=center><b>&nbsp;주소를 입력하고 검색을 누르면 지도가 뜹니다.</b></td>
</tr>
<tr>
	<td><input type="text" id="search" size=80></td>
	<td><input type="button" value="검색" onClick="initialize()"></td>
</tr>
</table>

<br><br>
	<div id="map-canvas" style="width: 90%; height: 700px; border:solid 2px skyblue" title="위치입니다."></div>
</center>
</body>
</html>